[2015-03-05 00:46] astorije opened #1 "Publish chai-immutable on the npm repository"

[2015-03-05 00:47] astorije opened #2 "Add linter support"

[2015-03-05 00:47] astorije opened #3 "Add license badge"

[2015-03-05 00:49] astorije opened #4 "Add test coverage and coveralls badge"

[2015-03-05 00:54] astorije opened #5 "Add this plugin to Chai's plugin page"
To appear on [the plugin page](http://chaijs.com/plugins), a new entry needs to be added to [chai-doc's JSON index](https://github.com/chaijs/chai-docs/blob/master/plugins.js).

[2015-03-05 10:01] faassen opened #6 "assert support is missing"
I tried to use this plugin but was confused why it didn't work for "assert.equal". It turns out you need to install a bridging function on the "assert" object, see this mailing list entry:

https://groups.google.com/forum/#!topic/chaijs/Dwnbsbe0C70

I tried the following:

[code]

and now it works. The same should be done with the other overrides.

[2015-03-05 15:22] astorije commented on #6
Hey, thanks for trying to use the plugin, and for reporting this!

As you noticed, I just started this, it's not even on the npm repository yet!
So far I focused on expect support only as it was my direct need. I'll fix this soon and report on this issue.

[2015-03-05 16:52] astorije commented on #4
Fixed by c02556d8d938820ced0da72bcc5716fac1396bcf and 1d2b52748c8af1664e8f90c302e049156f7f9e53

[2015-03-05 16:52] #4 closed

[2015-03-06 03:42] faassen commented on #6
Yes, I noticed you just started it, but I ran into it googling for chai integration with Immutable.js and I figured I'd give you the feedback. Thanks for looking into this!

[2015-03-06 04:11] faassen opened #7 "assert.equal doesn't give nice output if truncate threshold is reached"
Consider this assertion:

[code]

This fails with this ugly error:
[code]

I debugged why I sometimes got this kind of error. It's because the length of the string representation of the actual value exceeds Chai's truncate threshold. Chai then proceeds to fall back to another method and displays the object in a truncated fashion.

I don't think it looks like Chai's objDisplay function can be easil

[2015-03-06 04:52] faassen commented on #7
Hm, I looked into a fix along these lines:

[code]
and then passing `CollectionRepr, obj.toString()` as the last two arguments into `this.assert`.

This failed and debugging it I found out that `obj instanceOf Collection` does not always hold true; there are Immutable objects where this is `false`. How to replicate it yet I don't know, but I have a set here that gives `true` to `Immutable.isSet()`

[2015-03-06 04:55] faassen commented on #7
Note that:

[code]

is a workaround. It still tries to show me useless diffs on how the underlying objects differ, though.

[2015-03-06 05:07] faassen commented on #7
But I suspect due to the Collection instance not being reliable I get an assertion failure where two immutable objects that should be the same are considered not to be...

[2015-03-06 06:19] astorije commented on #6
And I thank you for your feedback :-)
I'll let you know as soon as I can guarantee more stability on this. Stay tuned!

[2015-03-06 06:22] faassen commented on #7
In the end I decided to forgo chai entirely for this kind of testing and replace it with a simple extension to node's assert:

[code]

so far it's much more reliable.

You could consider something similar: add an 'is' which assumes immutable objects, instead of trying to override equal to mean something in addition to its original meaning.

[2015-03-06 06:28] astorije commented on #7
Waouh @faassen, that's a detailed bug report! :-)
Thanks for sharing, give me a few days to finish what's on my priority queue and I'll get back to this to come up with a solution!

[2015-03-06 06:41] astorije commented on #1
Fixed when creating [tag v0.2.0](https://github.com/astorije/chai-immutable/releases/tag/v0.2.0).

[2015-03-06 06:41] #1 closed

[2015-03-06 16:31] #3 closed

[2015-03-06 16:46] astorije opened #8 "Make the plugin work on the browser and test it there"

[2015-03-06 22:46] astorije opened #9 "Add a custom assertion to retrieve a value at a specific key"
Chai's [dot-notation for `property`](http://chaijs.com/api/bdd/#property) lets us do the following for `Array` and `Object` elements:

[code]

Without more custom assertions for `Immutable`, I don't think we have an alternative to:

[code]

which causes a problem when using something like [Chai as Promised](http://chaijs.com/plugins/chai-as-promised) because we end up with something not as straigh

[2015-03-07 20:20] astorije commented on #2
Well, my tests with JSHinter reported some `Possible strict violation`. Even if they are not, it means I have to refactor some things and I don't feel comfortable having the linter breaking by default.
I'll focus on other issues and come back to that later.

[2015-03-14 23:44] astorije commented on #6
Hey @faassen!

1bcfae6 adds support for `assert.equal`. Before that, `assert.strictEqual` and `assert.deepEqual` would have worked since they both use the overridden base assertions, but now it's consistent across TDD and BDD interfaces.
Could you try it on your side to confirm it works as you want? I am not publishing a new version into npm until you do so, so you have to install the package from

[2015-03-15 00:12] astorije commented on #6
Actually, adding support for `assert.sizeOf` was really straightforward so I did it right after, so that when you confirm you're okay with this I can publish into npm.

I close the issue because it seems to me that everything is covered for now. I'll reopen if you tell me that it doesn't match your expectations or doesn't work or needs more assertions.

[2015-03-15 00:12] #6 closed

[2015-03-15 00:15] astorije commented on #5
Solved by https://github.com/chaijs/chai-docs/pull/79.

[2015-03-15 00:15] #5 closed

[2015-03-16 04:27] astorije commented on #6
Well actually (bis), I just published this support in version `0.3.0`. My questions are still valid, but that'd be great if you can open a new issue instead of re-opening this one.

Thanks!

[2015-03-29 17:41] astorije opened #10 "Add a custom assertion to ensure an object is Immutable"

[2015-03-29 17:41] astorije opened #11 "Add a custom assertion for contains/includes"

[2015-04-12 22:07] astorije opened #12 "Support List and Map as input for the keys assertion"
It is currently possible to give an `Array` of keys and an `Object` of keys to [the `keys` assertion](https://github.com/astorije/chai-immutable#keyskey1-key2--keyn), but considering the library we are testing against, it would be a shame to not be able to use `List` and `Map` elements.

Should I allow other input types too (`Set`, ...) ? Should I be more generic instead (like testing against `Key

[2015-04-21 19:00] astorije opened #13 "Should there be support for a .frozen property?"
I found myself in the need to test if an object was [frozen](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/isFrozen).

Right now, one has to do:

[code]

which is not very pretty. I came up with a simple helper to allow the following syntax:

[code]

I am not sure if this helper should be part of this project. On one end, it's not using [Immutable](https:/

[2015-04-24 03:51] astorije opened #14 "Collections should be deeply traversable"
[dot-and-bracket notation](http://chaijs.com/api/bdd/#-property-name-value-) can be used for `Array` and `Object` elements.
A similar thing should be possible with `Immutable` collections.

[code]

Specific syntax to define (I may prefer to use `obj.get(prop)` instead of `obj.prop` to reflect the library's API).

[2015-06-04 00:34] aruberto opened #15 "chai-immutable@1.0.0 not available on npm"
Get following error when attempting to install chai-immutable:

[code]

Seems like https://registry.npmjs.org/chai-immutable/-/chai-immutable-1.0.0.tgz does not exist.

npm install chai-immutable@0.3.0 works correctly

[2015-06-04 03:29] astorije commented on #15
Argh, that is really odd. For publishing both v0.3.0 and v1.0.0, I used the same method, which relies on Travis CI deployment after running `npm version 1.0.0 && git push --follow-tags`.

And as you can see at the end of https://travis-ci.org/astorije/chai-immutable/jobs/65006776:

[code]

Also:

[code]

This is really odd... Does anyone have an idea of what happened here? I'll investigate, thanks

[2015-06-04 06:20] seldo commented on #15
Huh. That *is* strange. Can you try bumping to 1.0.1 and publishing again. If you can, use `npm publish -ddd` and capture the output so if it happens again we can see what the publish output was.

[2015-06-04 14:32] astorije commented on #15
@seldo I am publishing automatically following [this guide](http://docs.travis-ci.com/user/deployment/npm/). I wish the `-ddd` flag could be set in Travis CI directly :-/

I'll trigger v1.0.1 manually and hope that I can still using Travis CI to deploy v1.0.2+

[2015-06-04 14:45] astorije commented on #15
Actually, after looking around, it might be possible. I gave it a shot in [my latest commit](https://github.com/astorije/chai-immutable/commit/70d8ada68d0c29db1ac3a3cf85211e0985d817e2), we'll see when Travis CI kicks in.

[2015-06-04 15:07] astorije commented on #15
Argh, it failed at the coveralls step as you can see [here](https://api.travis-ci.org/jobs/65418034/log.txt?deansi=true), for the same reason :-(

Well, nevermind, I published manually and it seems to have worked. Assuming I was right when making sure there is no sensitive information in the output, here it is:

[code]

@seldo , do you have any idea of what happened for version 1.0.0? Do you think

[2015-06-09 03:49] astorije commented on #15
Waouh @ceejbot that was nasty!
I am very happy my tiny contribution to the Node/npm world could be useful to you in its way.

Last question before I close this ticket: Is there any way to regenerate the `v1.0.0` ([from the according tag], for example)? If so, I'll be glad to follow your instructions if there is something I can do on my end. If not, please advise me of the procedure to follow (unpu

[2015-06-09 04:06] astorije commented on #15
Aaarrrrggghhh! What an unfortunate outcome:

[code]

Well, I guess `chai-immutable@1.0.2` [is the new cool](https://travis-ci.org/astorije/chai-immutable/jobs/65992755#L248) then...

[2015-06-09 04:16] astorije commented on #15
Oh no @ceejbot I wasn't grumping at you, I was grumping at me :-)
As you can see, [here](https://github.com/astorije/chai-immutable/releases), I just unpublished `v1.01` instead of `v1.0.0` by running `npm unpublish @1.0.0` instead of `npm unpublish chai-immutable@1.0.0`.

Just my two cents though, this seems like a behavior you would not expect (cf my terminal paste above)...

[2015-06-09 04:16] #15 closed

[2015-06-15 09:43] zanuka commented on #13
yes, would be handy

[2015-07-03 21:35] astorije commented on #13
Alright, it's on the todolist then :-)

[2015-07-04 12:50] steida opened #17 "1.1.0 Broken in npm registry it seems"

[2015-07-04 13:03] grabbou commented on #17
checksum invalid, so looks like the package might be broken?

[2015-07-04 13:24] astorije commented on #17
Argh, [again](https://github.com/astorije/chai-immutable/issues/15)? I am investigating to see what's going on...

[2015-07-04 13:33] astorije commented on #17
I reported an issue on npm (https://github.com/npm/npm/issues/8822) so stay tuned. Thanks for the report @steida and @grabbou!

[2015-07-04 22:29] grabbou commented on #17
Awesome! I hope we won't need to add post-publish tests anytime in the future :D

[2015-07-05 07:11] astorije commented on #17
I'm not sure what to do here, and if it's a one-time error or if anytime I'll publish through Travis CI the bug will happen.
I'll leave another day or so to the npm team to look into it, but after that I'll try to manually release a version 1.1.1 as I understand it's a pain for you guys. Sorry about that!

[2015-07-07 22:50] astorije commented on #17
And now we have https://github.com/travis-ci/travis-ci/issues/4197, perfect...

[2015-07-07 22:55] astorije commented on #17
Nevermind, I manually published [version 1.1.1](https://github.com/astorije/chai-immutable/releases/tag/v1.1.1) and made sure this one works. So things should be solved

I'll leave this issue open until I know what happened on version 1.1.0 and until I unpublish it. I'll leave it published in case it's useful to the npm guys.

[2015-07-07 22:57] astorije commented on #15
@ceejbot, do you mind taking a look at #17? It's so close to this issue and I'd like to know if it's a coincidence that I got bitten twice... Thanks!

[2015-07-08 08:31] grabbou commented on #17
I think it's already explained and can be closed. Issue was with Node version.

[2015-07-08 09:58] #17 closed

[2015-07-08 22:25] astorije commented on #17
Indeed, [as explained by @iarna](https://github.com/npm/npm/issues/8822#issuecomment-119431682).

Unless this gets fixed on the [Travis CI](https://github.com/travis-ci/travis-ci/issues/4205) end, I might have to remove version 0.11 from the `.travis.yml` file before the next release...

[2015-07-08 22:27] astorije commented on #15
[Nevermind](https://github.com/npm/npm/issues/8822#issuecomment-119431682).

[2015-07-09 18:05] astorije opened #19 "JSCS rules on comments are too strict"
According to [this comment](https://github.com/astorije/chai-immutable/pull/18#discussion_r34215616) by @matthewwithanm, it's not possible to leave comments like:

[code]

But only:

[code]

Which is quite painful! I think I went a bit too far on comment conventions and I need to relax them a bit...

[2015-07-09 18:56] matthewwithanm commented on #19
IIRC The linting error was about surrounding whitespace and I wasn't able to find something that made it happy (except the star style).

[2015-07-09 23:00] #19 closed

[2015-07-17 23:10] astorije commented on #13
Well... [I did it](https://github.com/astorije/chai-immutable/compare/1440a1fa5b97d02f82ca4350862a5b78412c7f67...48241e86558291a21dbfd0f462291d90f3b2f9e7), and then [I un-did it](https://github.com/astorije/chai-immutable/commit/252eaf420e9cd762765b266e239303a928eed462) because it has [just been added to Chai 3.1.0](https://github.com/chaijs/chai/releases/tag/3.1.0).

Please use this assertion the

[2015-07-17 23:10] #13 closed

[2015-07-19 22:27] astorije commented on #11
Added in version [1.1.0](https://github.com/astorije/chai-immutable/releases/tag/v1.1.0) (but this release failed, one needs to use version [1.1.1](https://github.com/astorije/chai-immutable/releases/tag/v1.1.0) and onwards).

[2015-07-19 22:27] #11 closed

[2015-07-19 22:32] astorije commented on #12
This feature was added [here](https://github.com/astorije/chai-immutable/commit/2f0e2f5410690a643a1ce154079c44ab0a53b0cc), that is when releasing version [1.0.0](https://github.com/astorije/chai-immutable/releases/tag/v1.0.0) (unpublished version, use version [1.0.2](https://github.com/astorije/chai-immutable/releases/tag/v1.0.0) and onwards instead).

[2015-07-19 22:32] #12 closed

[2015-07-19 22:38] astorije opened #20 "Add tests for failure cases"
At the moment, only successful cases are tested (to detect false negatives, cases that fail although they should pass). This prevents us to detect false positives (cases that pass although they should fail).

Failing tests should be added, similarly to Chai's tests, [see example here](https://github.com/chaijs/chai/blob/4e18d2a49394f21f49eaea97f556d6a17ecbcc7e/test/expect.js#L35).

I already suspe

[2015-08-15 13:44] astorije opened #21 "Make chai-immutable compatible with AMD loaders"
I was initially planning to support it, but removed support completely in 46ea795f5ad3393095ab4f448cf922737df7d3d7 as it is clear it will not work as is.

I have no idea how [AMD loaders](https://en.wikipedia.org/wiki/Asynchronous_module_definition) nor [RequireJS](http://requirejs.org/docs/whyamd.html) work as I'm not using them myself, so I'd be glad if someone can step in and provide a fix.
Pro

[2015-08-15 13:46] astorije opened #22 "Check support of browserify"
I have never used [browserify](http://browserify.org/) so I am not sure if chai-immutable is compatible with it out of the box or if any additional work is needed.

That'd be great if someone can test this and give a report here.

[2015-08-16 20:23] astorije commented on #8
Support for this plugin in the browser was added in [version 1.3.0](https://github.com/astorije/chai-immutable/releases/tag/v1.3.0).

[2015-08-16 20:23] #8 closed

[2015-10-08 15:11] taffowl opened #23 "Problem deep comparing two immutable Lists"
Given a couple of immutable lists with identical items in some instances I've had problems when deep comparing them in my tests using the chai-immutable plugin.

      expect(Immutable.is(listOne, listTwo)).to.equal(true); // works ok
      expect(listOne).is.eql(listTwo); // fails

[2015-10-08 21:18] alexw668 opened #24 "Map equality issue"
Hi,

First of all, it appears (and it makes sense) that key order in an immutable Map with primitive fields does not matter, as illustrated by the following test:

[code]

However, if an immutable Map contains one or more key with plain object in it will cause equality to fail if the order of keys is different, as illustrated in the following test (notice I use `to.eql`, not `to.equal`):

[code]
T

[2015-10-10 01:45] astorije commented on #23
Hi @taffowl,

What version of `chai-immutable` are you using?
Also, what are `listOne` and `listTwo`?

Using primitives, the following works:

[code]

I am guessing this works for primitives but fails for nested structures, as described in #24.

[2015-10-10 01:48] astorije commented on #24
This case is actually a duplicate of #23. Your problem is not that key ordering matters with non-primitive parameters, but that you are changing the operator from `equal` to `eql` in your examples, the latter being not available in `chai-immutable` right now.

[2015-10-10 01:56] astorije commented on #23
Odd, this passes fine too:

[code]

[2015-10-10 02:01] alexw668 commented on #24
I am not sure. Issue #23 is concerned about List. In my case it's about Map. I believe if you have a plain object in a Map, you cannot test equality with `.to.equal`; you have to use `to.eql`. The second `expect` in my sample code actually **passes** (but it would not if I had used `to.equal`). Theoretically, the last `expect` should pass but it does not, which I think is a bug. The **only differe

[2015-10-10 02:12] astorije commented on #24
Oh my, you're right, it *is* related to the ordering, my bad:

[code]

(Yes, it's what you have in example, but I am using this in the test file)

I do not define `eql`, this is chai's default one, which directly uses [`deep-eql`](https://www.npmjs.com/package/deep-eql). Could there be a bug there?

[2015-10-10 02:15] astorije commented on #24
Nop, as this passes:

[code]

[2015-10-10 02:24] astorije commented on #24
Got it. Here is the output when testing against [this example](https://github.com/astorije/chai-immutable/issues/24#issuecomment-147022716):

[code]

It means that Immutable stores the key-value pairs in an array, as they are defined. When `eql` is used, it sees this as a difference.

Anyway, I should probably using `Immutable.is` or the `.equals` function that Immutable exposes.

[2015-10-10 03:05] astorije commented on #24
Well, that's a bummer. Chai uses `deep-eql`, and Immutable structures expose a deep equality function `.equals()`.
The former one does not work with Immutable objects for the reason above.
The latter one does not work with `objects`:

[code]

Right now, your original example will fail because it uses `deep-eql` by default. If I switch to use Immutable's `.equals()`, it will fail because you are us

[2015-10-10 05:24] alexw668 commented on #24
Great explanation. Thanks for your time. I am interested to see if some one has a solution for this.

Alex

[2015-10-10 20:20] astorije commented on #24
Actually, I have two sort-of solutions, very similar in spirit. Nothing ideal though, but might be a start:

- Convert the `Iterable`s to JS objects using [`toJS()`](https://facebook.github.io/immutable-js/docs/#/Iterable/toJS) and then use Chai's `.eql()`
- If we are using `.eql()` on `Iterable`s, use [`fromJS`](https://facebook.github.io/immutable-js/docs/#/fromJS) on them (assuming `fromJS` is

[2015-10-12 18:49] alexw668 commented on #24
I think that should work. It would be nice if you (or any adapters) could identify any false positive and come up with a solution to address the situation.

Thanks!

[2015-10-13 04:28] astorije commented on #24
Hey @alexw668, I'll work on something as soon as I get some free time. Depending on how it goes, I'll probably add a caveat to the README if there are false positives that should be expected (if these are only those I listed, it can be easily predicted, and one can add an additional check to balance it; not the cleanest solution, but better than nothing, right?).

In the meantime, that would be ve

[2015-10-16 22:27] alexw668 commented on #24
Hi @astorije. Sorry for late response. Looking back at what I did in my immutable Map or List, I realized that it's not a good practice to mix mutable data (like plain object) within an immutable object, particularly based on the principal of Flux (or React Redux). So I made sure mutable data is mixed in my immutable object. By doing so, I think chai-immutable does a very good job. I don't ever us

[2015-10-17 16:45] astorije commented on #24
So you think having arrays and objects in Lists and Maps is not a good practice? Where did you take that statement from, by curiosity? I don't know the principle of Flux, by the way.

Your recommendation is to leave the code as is, right?
No worries for opening this issue, the discussion that came from it was very interesting.
I will update the README, and will appreciate you give your comments on

[2015-10-17 17:16] alexw668 commented on #24
Yes, I read it on some one's blog. Also here is a review about the Flux pattern (Redux is an implementation of that pattern): https://facebook.github.io/flux/docs/overview.html.

I believe you've heard of React.js, a Javascript library for building UI. It achieves lots of its goal with a virtual DOM; having a pure immutable state, it can quickly calculate the diffs between the virtual and actual D

[2015-10-18 18:12] astorije commented on #24
Thanks for all these precisions, @alexw668.

I have opened #25 with additions to the README and tests to to make sure our assumptions were true.
Before merging, I'll wait for your comments regarding both the README edits (I'm not native and I didn't stumble upon this problem myself so feel free to tell me if I am not being clear), and the tests in case you can think of cases we might want to tests

[2015-10-18 18:13] astorije commented on #23
@taffowl, any chance you could add precisions to your case? In particular, do #24 and #25 address your issue, somehow?

If I do not get answers to this comment, I'm afraid I'll have to close this issue. Feel free to add precisions here in the future if you think I am being mistaken.

[2015-10-18 19:04] alexw668 commented on #24
@astorije I like what you changed in README. If I have any more suggestion, I would also add a reference to [the case for Immutability] (https://github.com/facebook/immutable-js/) which emphasizes that immutable data structures should be treated as values rather than objects.

Thanks for your time and work!

[2015-10-18 19:14] taffowl commented on #23
@astorije Hi, sorry for the delayed response I was at a bit of a loss to the underlying problem. I think  issues #24 and #25 pretty much describes what was happening in that in my case I was adding mutable objects and not primitives into the immutable list. I've switched my test case to use "to.equal".

The chai-immutable version I'm using is 1.3.0. Below is an example test that I've just pulled t

[2015-10-18 22:08] astorije commented on #24
I'd rather leave that out for the following reasons:

- I'd expect a reasonable developer to have read `Immutable`'s README in order to use `Immutable` and `chai-immutable`
- This paragraph doesn't explicitly says you should not be mixing mutable and immutable objects (it is a broader, yet very valid discussion/context, but not specifically directed at our current issue)
- I'd prefer keep the READ

[2015-10-18 22:23] astorije commented on #23
Hum, I have run your test case on `master`, the branch behind #25, and on `v1.3.0`, and all tests were passing, every time... Is there something specific I need to do to reproduce this bug? What version of `Immutable.js` are you using?

[2015-10-18 22:28] taffowl commented on #23
That is strange, the output I get when running the tests is below. I'm using Immutable version: 3.7.4 and chai version: 2.3.0. I can't think of anything else but I'll take another look tomorrow.

[code]

[2015-10-18 22:33] astorije commented on #23
That's bizarre indeed, I was using Chai 3.x but tested with the following environment and... all tests are passing for me!

[code]

[2015-10-18 22:44] taffowl commented on #23
My current environment is part of a much bigger piece of work so I have 72 dependencies when I run npm list --depth 0 (so I guess scope for issues). I'll build another environment and use the core dependencies and re-run the tests to see if I still have the problem.

[2015-10-18 23:39] astorije commented on #23
I have tried your test suite in a different folder, with freshly installed packages, and this time I have it failing.

I note however that among your 3 tests:

[code]

The one that is failing is the last one, not the other two!

And that's where things look shady. If I had your test suite in my test file, things pass just fine. The difference is that in my case, [this](https://github.com/astorije/

[2015-10-19 00:05] astorije commented on #23
Oh my... I have found the issue.

The fourth line of your snippet is:

[code]

where it should be:

[code]

Notice the lowercase `i`?

I have no idea why this is acting the way it is honestly. Am I doing something wrong in `chai-immutable`? Is `require` buggy? Is `mocha` or `chai` buggy?
Frankly I have no idea. I tend to think this is `chai-immutable`'s fault, but I'm not sure why, but it seems to

[2015-10-21 03:42] astorije commented on #24
@alexw668, ping?

[2015-10-21 05:18] astorije opened #27 "Add Sauce Labs support"
Spent some time on this tonight, not sure how to do that.
Is it possible to setup Sauce Labs so that [tests](https://github.com/astorije/chai-immutable/blob/master/test/test.js) are run in different browsers?
Right now they are just run in phantomjs, it would be nice to know if they pass on all browsers or not.
Any help on that will be appreciated.

[2015-10-27 04:44] astorije commented on #24
I'll take your silence as a :+1: and will merge #25 then. I will release a minor version right after this and will also close this issue.

Thanks for reporting this in the first place!

[2015-10-29 04:20] astorije opened #29 "not.key passes when the key is not part of the collection"
The following test fails (see [this build](https://travis-ci.org/astorije/chai-immutable/jobs/88040470)):

[code]

[2015-10-29 04:32] astorije opened #30 "assert.notEqual passes when 2 different objects have the same values"
The following test fails (see [this build](https://travis-ci.org/astorije/chai-immutable/jobs/88040470)):

[code]

This shows that `assert.notEqual` needs to be overriden to take into account equality between values even though the underlying objects are different.

[2015-10-29 04:34] astorije commented on #24
Released in version [1.4.0](https://github.com/astorije/chai-immutable/releases/tag/v1.4.0), closing this.

[2015-10-29 04:34] #24 closed

[2015-10-29 04:42] astorije opened #31 "Make sure aliases of `.eql()` (for BDD assertions) are supported"
See https://github.com/chaijs/chai/blob/882c9ccead38cfe12201fe1dad81ba8530a233d6/lib/chai/core/assertions.js#L485-L513

[2015-10-29 04:50] astorije commented on #23
@taffowl, can you confirm this was user-side error (the wrong case) and this issue can be closed?

[2015-10-29 07:06] taffowl commented on #23
Sorry, yes changing the immutable to a lowercase within my particular test case resolved the issue. I'm still not sure what's happening behind the scenes or why the ide didn't pick up the typo. Oh well at least if somebody else hits this it's easy to resolve. Thanks

[2015-10-29 07:06] #23 closed

[2015-10-29 20:58] alexw668 commented on #24
Thanks for your work! Sorry for not responding sooner because 1) I have been too busy at work, and 2) I thought I already endorsed your change. ;-)

[2015-10-29 21:49] astorije commented on #24
No worries, all good! And plenty to do on the latest issues now :-)

[2015-10-30 03:57] #30 closed

[2015-11-02 01:29] #29 closed

[2015-11-02 03:26] #20 closed

[2015-11-05 04:57] #31 closed

[2015-11-14 16:50] kmckee commented on #24
This probably isn't the best place for this, but, it seems kind of related.  I'm new to working with immutables so go easy on me.

I noticed that in certain scenarios, like the example below, I get output from the tests that makes it really difficult to understand what's wrong.  Am I using the library incorrectly or is this something that could be enhanced?

[code]
That test gives me the following

[2015-11-14 22:32] astorije commented on #24
@kmckee, actually, this is unrelated. I do believe though that it is related to https://github.com/astorije/chai-immutable/issues/7. Can you confirm? If it is, please post there, and if it isn't, please create a new issue for this. I'm about to look into this.

[2015-11-14 23:32] kmckee commented on #7
Yes this is the same issue I reported on 24.  Not sure how I missed this issue.

Here's what I've observed:

[code]
Yields the following output:
[code]

If I convert my immutables to regular JS objects, like below, I get output like what I was expecting:
[code]

Output:
[code]

[2015-11-15 00:04] astorije commented on #7
@kmckee I'm working on a fix and it should land soon. Stay tuned.

[2015-11-15 16:36] kmckee commented on #7
Awesome!

In the mean time, if anyone else is having the same problem, I've started to just call toJS() on my immutables when asserting with them, and then using POJOs for the expected values.  I get nice output and I can easily remove them later with something like:  grep -r expect.*toJS ./test

[2015-11-16 02:33] #7 closed

[2015-11-16 02:35] astorije commented on #7
@kmckee, https://github.com/astorije/chai-immutable/commit/08edf4a2b79a1b9de59b0cbde1848ccb15faf589 should fix this issue. Can you confirm that this commit and subsequent commits after that do work in your case?
I'll release a patch version when you can confirm.

I know it's been a while, but that would be awesome to also have @faassen give his feedback on this. Let me know if you have anything to

[2015-11-17 10:52] kmckee commented on #7
Confirmed.  Thanks a ton!!

Error message displayed is:
AssertionError: expected 'Map { "entries": List [ "Trainspotting", "28 Days Later" ] }' to equal 'Map { "entries": List [ "Traiinspotting", "28 Days Later" ] }'

[2015-11-19 00:40] rogeriopvl commented on #7
Great to see this fixed! :+1:

When will this fix be published to npm?

[2015-11-19 05:57] astorije commented on #7
Oops, sorry @rogeriopvl, I was so busy I guess I dropped the ball after @kmckee replied...

Anyway, done: [chai-immutable@1.5.3](https://github.com/astorije/chai-immutable/releases/tag/v1.5.3) is now published!

Thanks all for your patience, your helpful reports and encouragement, especially @faassen whom I ended up ignoring for 8+ months!

[2015-11-23 01:31] jakubzitny opened #32 "Add support for chai-as-promised"
I have some promises returning collections from immutable.js.
It'd be nice to expect the promised values with [chai-as-promised](http://chaijs.com/plugins/chai-as-promised).

Something like:
[code]

[2015-11-23 04:24] astorije commented on #32
Hey @jakubzitny, thanks for bringing that up!

As a matter of fact, I have used chai-immutable with chai-as-promised before. Look at [this test](https://github.com/w3c/echidna/blob/edb6e08ec0b95b627a32e132373a9f322c7c9e68/test/test.js#L99) for example. Note however that this relies on chai-as-promised being loaded after chai-immutable (or any other plugins you want to "promisify", for that matter)

[2015-11-23 11:30] jakubzitny commented on #32
Hi, thanks for the reply :)

It really works when I load chai-as-promised at the end, great. Actually I did think about this but somehow I forgot to try loading it like this. Maybe it would help to mention it in the Installation part of README. Also some examples of chai-immutable with other plugins could be helpful.

[2015-11-23 16:54] jasonquick opened #33 "Comparison of Lists fails on different internal properties"
Hello. Apologies if this has been addressed or if I've done something foolish, but I'm pretty sure this is legitimately unexpected behavior.

I'm using Immutable 3.7.5, Chai 3.4.1 and chai-immutable 1.5.3 with Node 4.2.2 on Windoze. Here's what I'm seeing:

[code]

I expect this test to pass, however:

[code]

These internal implementation properties "ownerID" and "__altered" are resulting in a fa

[2015-11-23 18:55] jasonquick commented on #33
How embarrassing...I was (obviously?) not including chaiImmutable in the place I was trying to use it.

I was suffering from insufficient caffeination. Please don't take my keyboard away.

[2015-11-23 18:55] #33 closed

[2015-11-24 00:45] astorije commented on #33
Ah ah ah, your keyboard is safe :-)

No worries for the issue. Actually, looking at the output, it's not that obvious that you forgot to `chai.use(chaiImmutable)` (but there is nothing we can do to improve that here), so it's actually a good thing for those who will have the same output for the same reason.
Thanks for closing this by giving the explanation!

[2015-11-24 00:53] astorije commented on #32
Thanks @jakubzitny, I'll add a mention about loading chai-immutable before chai-as-promised in the README of this project, although I believe this has more its place in the README of chai-as-promised.

I won't come up with examples of using with other plugins as I'm not using any myself, but I'd be happy to discuss such examples here before adding them to the README :-)

[2015-11-24 15:49] sebastiancarlsson opened #34 "Immutables nested in vanilla js objects are not compared properly"
Hi there, I'm working on unit tests for a Redux application and I'm trying to compare two so called "actions" which are objects that looks something like this:

[code]

This happens:

[code]

I'm new to Immutable but so I'm not sure, but this looks like a bug to me? Thanks

[2015-11-24 15:53] sebastiancarlsson commented on #34
PS. If this is confirmed as a bug I'd be happy to give it a stab

[2015-12-11 23:13] reddiky opened #35 "1234"

[2015-12-11 23:55] astorije commented on #35
<div align="center">
  <img src="https://cloud.githubusercontent.com/assets/113730/11758403/93643306-a038-11e5-82be-26c3a8076edd.png" alt="SPAM">
</div>

[2015-12-11 23:55] #35 closed

[2016-01-15 18:35] glenjamin opened #37 "Records compare equal to Maps"
See original discussion here:
https://github.com/glenjamin/transit-immutable-js/pull/13#issuecomment-172021813

Notable points:
[code]

And this is currently by design: https://twitter.com/glenathan/status/688050710047539200

I think it'd be useful to provide a way to opt into a stricter comparison in `chai-immutable`. I'm unsure whether or not I think it should be the default at this point.

One

[2016-01-17 19:32] astorije commented on #37
Well, that sucks :-)
I must admit, I have never played with `Record`s and prior to a minute ago, I had never even read its doc!

I agree with you, `.to.equal` and `.to.eql` should fail if the types are different. Unless we are talking duck-typing and the methods accessible for the `Record` are the same than for the `Map`. Is that the case?
If it is, then there is no reason I think to make this fai

[2016-01-17 19:42] glenjamin commented on #37
That wouldn't work deeply - it might be best to fix this upstream in Immutable, Lee has since said he'd be ok with that.

[2016-01-17 19:47] astorije commented on #34
Hi there,

It's not your case here because you are testing on regular JS objects, and in that case Chai's `.deep.equal` is used, not Chai Immutable's, but in the Chai Immutable world, the fact that `.equal` and `.deep.equal` act similar is normal, which is explained [here in the doc](https://github.com/astorije/chai-immutable#equalcollection). I wanted to point that out just in case.

As far as I

[2016-01-17 19:50] astorije commented on #37
Right, it wouldn't...

Sure, that'd be better if this can be fixed upstream. In the meanwhile, a temp quickfix or a note in the README might help further users of `chai-immutable`. Do you want to take a look at this? :)

Also, I'm not sure about `Record`s: in the case of your `FooRecord`, does it share the same methods and properties than a regular `Map`?

[2016-01-17 20:00] glenjamin commented on #37
They're similar, but I'm unsure if they have all the methods.

I also don't really use records, this only came up because of a PR into my transit lib - @corbt is probably best placed to advise.

[2016-01-17 20:25] astorije commented on #32
I have added a paragraph in the doc and submitted it as a PR (#38) so that you can tell me what you think before merging it. See you there!

[2016-01-18 11:21] corbt commented on #37
Records do implement most of the same methods as maps (although I'm not sure about all of them), plus the ability to access the defined fields using property access syntax (`recordInstance.myProperty`). Since they also implement the `get` equivalents (`recordInstance.get('myProperty')`) they can usually be a drop-in replacement for a map as long as you're only getting/setting the defined record fi

[2016-01-18 15:34] #32 closed

[2016-02-29 01:37] astorije opened #39 "Add namespace info in doc strings"
Not sure how the new site will or will not leverage this, but `chai-immutable` should reproduce https://github.com/chaijs/chai/pull/552 for consistency.

It is a very easy thing to add if someone wants to get some GitHub contribution, otherwise I'll do that within the next few weeks when I have a bit of time to spend on `chai-immutable`.

[2016-02-29 01:42] astorije opened #40 "Add a Code of Conduct"
Upstream Chai project has added a Code of Conduct (https://github.com/chaijs/chai/pull/565) so it would be a good idea to add it here as well.
Easy to do if someone wants to give it a shot.

[2016-03-08 17:56] jopek commented on #34
Hi @sebastiancarlsson @astorije,

I also get an error... :
[code]

results in this assertion error:
[code]

[2016-03-09 05:07] astorije commented on #34
Hi @jopek,

If you look at my comment above, as well as the documentation on the README and the linked issue, you will see that this is actually the expected behavior:

[2016-03-11 15:33] hyzhak opened #41 "How to check that we have property 'a' and it equals to 'value'?"
To have something like original does

[code]

but for immutable objects

[2016-03-18 03:41] #40 closed

[2016-03-24 21:01] txgruppi opened #44 "Publish new version!"
There are several commits which are not published to NPM.

One really important to me is https://github.com/astorije/chai-immutable/commit/7c8697f131ac3a86af2012cc83274855627d17e4

Can you please publish them?

Thank you.

[2016-03-24 23:35] astorije commented on #44
Hey @txgruppi, my bad, I did not manage to spend too much time on this project lately, but I should have released after merging the PR associated to this commit.
This is now done in [tag `v1.5.4`](https://github.com/astorije/chai-immutable/releases/tag/v1.5.4) and accessible on npm.

Thanks for the reminder!

[2016-03-24 23:35] #44 closed

[2016-03-24 23:37] txgruppi commented on #44
Sorry for the "cold" message, I had quite a busy day.

I just wanted to remind you to publish, in the case you had forgotten.

Thank you so much :)

[2016-03-25 02:22] astorije commented on #44
Don't worry, I didn't take it like that.
If anything, I'm happy people are using my modest project :-)

[2016-04-11 00:14] astorije commented on #41
See #9 and #14. Also, this will be added with #43.

[2016-04-19 03:52] astorije opened #51 "Replace JSCS with ESLint"
Although JSCS now appears as out-of-date for this repo (a new major version was released), it is end of life. [Their maintainers are merging with the ESLint team and somewhat suggest projects to do the same](https://medium.com/@markelog/jscs-end-of-the-line-bc9bf0b3fdb2).

[2016-04-21 03:53] astorije opened #52 "Use ES6 in the documentation"
Not sure if the code should go for ES6 yet, but we could at least start with examples from the documentation. If so, then maybe the test suite should be moved to ES6 to reflect the documentation too.

[2016-04-29 11:45] iensu opened #57 "`not` in assertions is ignored"
Given the following assertion:

`expect(fromJS({ x: 1})).to.not.have.key('y');`

I get the following result:

`AssertionError: expected 'Map { "x": 1 }' to have key 'y'`

So it seems that the `not` statement in the assertion is ignored.

I am using:

mocha 2.4.5
chai 3.5.0
chai-immutable: 1.5.4

[2016-05-02 05:01] astorije commented on #57
Well that's interesting. Have you noticed this behavior with other assertions of the plugin?

I need to investigate, but if confirmed, I'm surprised the test suite didn't catch this, really.

[2016-05-02 17:39] iensu commented on #57
Hi again!

Yes, I had a look at the test suite and it seems it should be covered, so I did some further investigation and it seems that it is https://github.com/prodatakey/dirty-chai that's the culprit here. Turning it off resolves the issue.

Thanks a lot for your time, I'm going to close this issue.

[2016-05-02 17:39] #57 closed

[2016-05-02 17:43] iensu commented on #57
As a side note, I managed to get chai-immutable and dirty-chai working together by loading immutable-chai before loading dirty-chai

[2016-05-03 03:44] astorije commented on #57
Hey @iensu, thanks for closing the loop!
That makes sense, there is [similar requirement when using `chai-immutable` along with `chai-as-promised`](https://github.com/astorije/chai-immutable#using-chai-immutable-with-chai-as-promised).

I'm going to update the documentation to reflect that and will ping you so that you can proof-read.

[2016-05-26 03:54] #39 closed

[2016-06-08 17:52] mpaulucci opened #64 "Publish version"
@astorije could you please publish a new version of this lib to npm?

[2016-06-10 05:05] astorije commented on #64
I'm planning to do so before the end of the weekend, thanks and sorry.

[2016-06-11 04:54] astorije commented on #64
Done: https://github.com/astorije/chai-immutable/releases/tag/v1.6.0 :-)

[2016-06-11 04:54] #64 closed

[2016-06-11 04:55] astorije commented on #41
This is now available in v1.6.0: https://github.com/astorije/chai-immutable/releases/tag/v1.6.0

[2016-06-11 04:55] #41 closed

[2016-06-11 04:56] astorije commented on #14
https://github.com/astorije/chai-immutable/releases/tag/v1.6.0

[2016-06-11 04:56] #14 closed

[2016-06-11 05:02] astorije commented on #9
This should be supported by #43 in [v1.6.0](https://github.com/astorije/chai-immutable/releases/tag/v1.6.0), but I'll make some tests with `chai-as-promised` as mentioned in this PR before closing.

[2016-06-11 19:04] mpaulucci commented on #64
Thank you!

[2016-07-21 19:29] neiker opened #66 "App crash if receive an REMOTE_WIDGET_DRAGGING or UPDATE_WIDGET before mural is fully loaded"

[2016-07-21 23:58] astorije commented on #66
Wat?!
Did you post on the wrong project by any chance?

[2016-07-22 00:59] neiker commented on #66
Ups! Yes, wrong project, sorry!

[2016-07-22 00:59] #66 closed

[2016-08-23 14:02] black-snow commented on #24
Anything new on this?

[2016-09-03 20:43] astorije commented on #24
@black-snow, about what specifically? Lots was said on this thread 😄

[2016-12-18 04:39] #9 closed

[2016-12-18 04:44] astorije opened #72 "Add `.deep.include` for deep equality comparisons"
Chai v4 adds `.deep.include` and this plugin should do too for Immutable structures.

See https://github.com/chaijs/chai/pull/761.

[2016-12-18 05:32] astorije opened #73 "Add support for deep flag for the keys assertion"
This would be port of https://github.com/chaijs/chai/pull/668 applied to Immutable objects.

[2016-12-18 06:43] astorije opened #74 "Drop support of Node v0.10 and v0.12"
Maintenance of v0.12 stops in 31 December 2016, and maintenance of v0.10 has already stopped. Additionally, [Chai v4](https://github.com/astorije/chai-immutable/pull/69#issuecomment-267803183) will drop these as well.

This will allow for lots of ES6 features, such as arrow functions at the very least.

This is a backward-incompatible change though, so this will be a major version bump.

[2016-12-18 07:12] astorije opened #75 "Support Chai v4's `.deep.property`"
As soon as this plugin uses Chai v4, `.deep.property` will have a different meaning there, and this plugin should port it for Immutable objects.

This will need new tests as well.

See chaijs/chai#758 and #69 fore more info.

[2016-12-18 19:28] astorije opened #76 "Write comprehensive tests for `.not.property`"
Meaning of `.not.property` changes between Chai v3 and v4 (see https://github.com/chaijs/chai/pull/744) and as pointed out by https://github.com/astorije/chai-immutable/pull/69, currently tests aren't breaking for any version.

There needs to be tests proving `.not.property` works properly on v3 and breaks on v4, so the v4 transition can be done smoothly.

(This is not a `chai v4` issue because it

[2016-12-19 01:50] astorije commented on #27
If anyone is willing to help on this, Sauce Labs, BrowserStack, or anything that tests cross-browser is fine.

One could look at how Chai is doing this with Sauce Labs and reproduce it here.

[2016-12-19 01:52] astorije commented on #2
Closing this in favor of #51.

[2016-12-19 01:52] #2 closed

[2016-12-19 01:56] astorije commented on #22
I've never used browserify and will probably never use it. If anyone finds issues with this plugin and browserify, feel free to comment and I'll reopen.

[2016-12-19 01:56] #22 closed

[2017-01-30 17:40] renanvalentin commented on #37
Hey guys, what is the expected behavior in this case?

[code]

[code]

Thanks!

[2017-01-30 18:30] renanvalentin commented on #24
@astorije I've just got in a weird situation:

[code]

Now I don't know if I can use `Array` inside of a Record. Also I was thinking about using `fromJS` inside of the chai-immutable. But I've my concerns about that.

[2017-01-30 18:54] renanvalentin commented on #24
So I've changed the code and it's working. I've switched from `[]` to `Immutable.List`.

var z = Record({a: List()});
var a = new z({a: List([1])});
var b = new z({a: List([1])});
expect(Immutable.is(a, b)).to.be.true; // true

[2017-01-31 11:10] glenjamin commented on #37
@renanvalentin This isn't really related to this repo, as you're using `Immutable.is` directly - so its all code in immutable-js itself.

The behaviour you're seeing is correct though - normal javascript arrays are compared by identity - not by value. If you want to compare an indexed collection by value you'll need to use an immutable List instead of an array.

[2017-01-31 15:00] whawker opened #82 "Feature request: comparison of Maps via include"
In vanilla Chai, you can assert that a JS object includes all properties (and values) of another obj
i.e.
[code]

Would it be possible to add a similar feature to chai-immutable for comparing Maps?

Potentially `isSuperset` could be used(?), or perhaps each key/value pair would need to be compared individually.

Vanilla chai behaviour, for reference: https://jsbin.com/cihiteyoyu/2/edit?html,js,out

[2017-01-31 22:02] renanvalentin commented on #37
Hi @glenjamin, Thanks for your explanation!

I'm using chai-immutable in this and it was failing:

[code]

But I've solved it changing the array to a `Immutable.List`

[code]

[2017-03-25 01:00] MicahZoltu commented on #24
The inability to do deep comparisons of immutable objects that have data structures not from ImmutableJS along the way is problematic.  I'm using TypeScript with `readonly` properties (language level immutability).
[code]

So in this case, the code is sound as I am only using Immutable datastructures all the way down.  However, I'm not using datastructures provided by the ImmutableJs library all t

[2017-06-28 00:41] mikeaustin opened #84 "npm WARN chai-immutable@1.6.0 requires a peer of chai@>= 2.0.0 < 4 but none was installed."
Is there support for chai@4.0.2?

$ npm install --save-dev chai-immutable
models@1.0.0 /Library/WebServer/Documents/www.mike-austin.com/models
├── UNMET PEER DEPENDENCY chai@4.0.2
└── chai-immutable@1.6.0

npm WARN chai-immutable@1.6.0 requires a peer of chai@>= 2.0.0 < 4 but none was installed.

[2017-08-15 23:24] astorije commented on #84
Hi @mikeaustin,

Support for Chai v4 is underway, but not quite ready yet. In the meantime, there is a pre-release that might just work, you can install it with `npm install --save-dev chai-immutable@next`.

I'll keep this issue open until I am done with chai-immutable v2, that will fully support Chai v4.

[2017-11-07 16:27] Fl4m3Ph03n1x commented on #84
Any news with this ?

[2017-11-08 06:40] astorije commented on #84
Hi @Fl4m3Ph03n1x!
Sorry, no news at the moment, you need to use the v2.0.0-alpha.1 version for now, which should be sufficiently functional.
I'm planning to get back to that ASAP, apologies! 🙏

[2017-11-08 07:44] Fl4m3Ph03n1x commented on #84
By no means I am not demanding, I was just curious on the progress. For me, this plugin is an integral part of using Immutable. If I can't have this plugin, I can't use Immutable, that's why I was asking.

Thanks for the answering!

[2017-11-12 01:13] astorije commented on #84
Gotcha @Fl4m3Ph03n1x. I didn't take your message as demanding, don't worry :) I feel bad for not wrapping this up earlier. Still in my short-term plans though!

In the meantime, you can add `"chai-immutable": "2.0.0-alpha.1"` or `"chai-immutable": "next"` to the `devDependencies` of your `package.json` file and that should be enough to use with Chai v4 :)

[2017-11-22 23:28] astorije commented on #84
Alright, #69 got merged. This doesn't mean `chai-immutable` v2 (for Chai v4) is ready yet, and I'll do my best to clear this ASAP, but in the meantime, this issue is closed 🎉

[2017-11-22 23:28] #84 closed

[2017-11-22 23:29] astorije opened #86 "Investigate potential remaining items for Chai v4 support"
A long, long time ago, I listed a few things to look at to be ready for Chai v4 here: https://github.com/astorije/chai-immutable/pull/69#issuecomment-267802626

Need to wrap these.

[2017-11-23 02:31] #74 closed

[2017-11-24 20:59] forgo opened #89 "Cannot find module 'immutable'"
I am upgrading my package dependencies, including chai-immutable to 1.6.0, and I am getting this error upon running my code:

[code]

As far as I can tell, chai-immutable handles 'immutable' as a dependency in it's own package.json. So why is it barfing here, suddenly?

I have done a `rm -rf` on my node_modules directory and reinstalled via `npm -i` before running, for the record.

[2017-11-25 06:52] astorije commented on #89
Hi @forgo!

Do you have some relevant code you could provide? It's hard for me to see what's going on right now :)

npm v... 5, I think, changed how they store dependencies and dependencies of dependencies. Did you happen to upgrade Node or npm since the last time you upgraded `chai-immutable`?

[2017-11-25 07:18] #51 closed

[2017-11-25 07:34] #21 closed

[2017-11-25 18:59] astorije commented on #76
Alright, so:

### On v1.6.0 (Chai v3):

[code]

[code]

### On `master` (Chai v4):

(Same diff, just with ES6 syntax)

[code]

[code]

[2017-11-25 19:02] astorije commented on #76
This confirms that I need to update `property` when using `not`.

[2017-11-25 21:14] #76 closed

[2017-11-27 00:57] #75 closed

[2017-11-27 07:01] #73 closed

[2017-11-27 20:20] forgo commented on #89
The error line is in node_modules/chai-immutable/chai-immutable.js:8:30.

The stacktrace tells me that this error is encountered where my code is simply importing 'chai-immutable':

**specHelper.js:3:1**
[code]

[2017-11-27 21:09] astorije commented on #89
Is `immutable` listed in your dependencies? As of v2, it will be marked as a `peerDependencies, but it wasn't in v1.x, sorry.

[2017-11-27 21:10] forgo commented on #89
I explicitly added immutable (version seen in node_module/chai-immutable's package.json:

[code]

Does this need to be made a peerDependency in your repo?
[NPM Peer Dependencies](https://nodejs.org/en/blog/npm/peer-dependencies/)

[2017-11-27 21:10] forgo commented on #89
Ha! You beat me to it. I think we are on the same page now. Thanks for looking at it.

[2017-11-27 21:17] astorije commented on #89
Sure thing! Now I'm wondering if on top of the `peerDependencies` addition, `immutable` for this repo shouldn't be moved to from `devDependencies` to `dependencies`.
I need to look if doing so still requires projects that use it to have `immutable` in their dependencies because if so, I cannot do that.

[2017-12-04 06:05] #72 closed

[2018-05-17 12:42] probedb commented on #86
Is there any update on version 2?

[2018-05-20 16:33] astorije commented on #86
Hi @probedb! I stiiiill haven't finished this, I'm sorry. I'm almost there, there are a couple things left I want to look at before publishing this. Sorry about this!

In the meantime, I have just published `v2.0.0-alpha.2` with the latest `master`. It is compatible with Chai v4 and requires Node v6+. Could you try it (`npm install --save-dev chai-immutable@next` or `yarn add --dev chai-immutable@

[2018-05-23 04:09] astorije commented on #52
Fixed by #142.

[2018-05-23 04:09] #52 closed

[2018-05-28 23:10] astorije commented on #86
@probedb, any luck?

[2018-05-29 00:57] #86 closed

[2018-05-29 04:55] astorije commented on #84
Hey @mikeaustin and @Fl4m3Ph03n1x, I have just released [v2.0.0-rc.1](https://github.com/astorije/chai-immutable/releases/tag/v2.0.0-rc.1) which hopefully is the last step before full Chai v4 support (_finally!_). Mind giving it a shot and letting me know if it works as expected for you?

[2018-05-29 04:56] astorije commented on #86
Hey @probedb, I have just released [v2.0.0-rc.1](https://github.com/astorije/chai-immutable/releases/tag/v2.0.0-rc.1) which hopefully is the last step before full Chai v4 support (_finally!_). Mind giving it a shot and letting me know if it works as expected for you?

[2018-05-29 08:01] probedb commented on #86
Sorry @astorije ended up busy! I've updated to 2.0.0-rc.2 and chai 4.1.2 and the only issues I have are: when doing:

`expect(callback.args[0][0]).to.eql(new Error('something went wrong'))`

I get:

[code]

But I've had this before with error objects, there's 13 errors like this after the update.

[2018-05-29 08:08] Fl4m3Ph03n1x commented on #84
We stopped using Immutable altogether when we realized we couldn't have chai for it :p ( among other reasons ).

I am afraid I can't test, as I have no setup for it.

[2018-05-30 03:31] astorije commented on #86
I suspect this is unrelated to `chai-immutable` (or `immutable` itself), therefore not with the v2 either. Do you concur?

[2018-05-30 03:33] astorije commented on #84
I'm sorry to hear this and that it took me so long to get my ducks in a row, @Fl4m3Ph03n1x!
Well, if you happen to use Immutable again, at least this v2 will make it less of a pain to deal with the ecosystem!
Thanks for the quick reply :)

[2018-05-30 08:57] probedb commented on #86
@astorije yep I'd agree, I believe it's due to the way the object is created for comparison and something has changed in Chai.

[2018-10-23 20:40] dmonego commented on #82
This (or another function that behaves like it) would be tremendously useful. My use case is converting over a medium size codebase (~200 or so tests across a couple repos) that does a mix of converting to non immutable data and then using include, or using core immutable functions and just testing against booleans, leaving unreadable results.

I have a PR that makes this include behave like the s

[2019-02-28 05:39] astorije opened #207 "Add support for custom messages"
First of, is this a desired feature?

@ulrikhindoe started working on this at https://github.com/astorije/chai-immutable/pull/85 but it never got in simply because I wasn't responsive enough.
If anyone wants to help with this, I'll be more careful :)

[2019-02-28 05:59] #89 closed

[2019-02-28 06:00] #27 closed

[2019-02-28 06:16] astorije commented on #37
Hey @glenjamin, @corbt, and @renanvalentin! I know it's been an awful while, but trying my luck still: does any of you want to further help with this? 🙏

[2019-02-28 06:16] #34 closed

[2019-03-05 10:40] jakubzitny opened #210 "Support reference comparison"
Right now, the `.to.equal` assertion after having `chai-immutable` in `chai` does "deep" comparison. It compares the keys and values of Maps, values of Lists and so on. This breaks the original behaviour of `.to.equal` in `chai`.

I understand that it is done on purpose, and test code often needs this more than reference comparison. However, when having `chai-immutable` in our specs, we can't comp

[2019-03-19 03:23] astorije commented on #210
Hey @jakubzitny! Thanks for your feedback 🙏

I am totally open to a PR (I promise I will review it faster than I replied to your issue 😅). I prefer the option that maintains parity with the core of `chai` as this is pretty much what this plugin tries to achieve.

Wanna help? :)

[2019-03-19 03:29] astorije commented on #210
Actually, thinking more about this, I think `.to.equal` should stay the way it is because that's more in line with what Immutable.js is.
I think comparing references is an edge case in the world of Immutable.js (may I ask you for a use case?) so it would be unfortunate to tie it to the default meaning of `.to.equal` I think.

At the end of the day, assuming `a` and `b` are Immutable.js object, it

[2019-03-19 04:21] astorije commented on #82
@whawker, @dmonego, can you confirm #177 (released in v2.0.0) resolves this issue?

[2019-03-19 10:10] jankuca commented on #210
Our use case is covering shallow compare compatibility of our state. We have a store which returns a `Map` for instance and we want to ensure that it returns the same map instance on multiple invocations unless there were changes between getter calls. This allows us to optimize React component rerendering as the default comparison logic relies on reference equality.

[2019-03-19 10:15] jakubzitny commented on #210
Thanks for the answers. Well, the use case is simple — I wanna be sure that a method (from flux store, a custom collection, or any class that stores Immutable data internally and returns them filtered/modified/mapped) returns always the same "modified" collection and does not re-create it on call every time (unless the data has changed).

Or as @jankuca mentioned above.

I think changing the `.to.

[2019-03-19 19:03] dmonego commented on #82
Working great! Thanks.

[2019-03-20 04:23] #82 closed

[2019-03-27 02:45] astorije commented on #210
Gotcha, thanks for the clarification!

Agreed, let's go with `to.referenceEqual`, at least while in v2, and if it needs changing in the future, it could be done in v3. But in the meantime and if possible, I'd rather keep `.to.equal` as a value equality check since it's more in the spirit of Immutable.js.

Thank you both for your help, looking forward to a PR! :)

[2019-04-14 00:55] astorije commented on #210
Hey @jakubzitny and @jankuca, quick follow-up: do you still intend to open a PR for this? I'd be happy to include it in the next release :)

[2019-04-14 13:42] jakubzitny commented on #210
Sure -> #218 :wink:

[2019-04-21 19:19] #210 closed

[2019-04-21 19:51] astorije commented on #210
This has now be released as part of [v2.1.0](https://github.com/astorije/chai-immutable/releases/tag/v2.1.0). Thanks again!

[2020-04-24 08:53] pbadenski opened #287 "chai-immutable@2.1.0" has incorrect peer dependency "immutable@^3.0.0"."

[2020-04-25 16:29] astorije commented on #287
What version of `immutable` are you using?

[2020-04-25 21:37] pbadenski commented on #287
Using `4.0.0-rc.12`

[2020-04-26 05:27] astorije commented on #287
That makes sense. v4 will be supported when it's out, right now v3 is supported. RC versions have not been tested against chai-immutable, hence this warning.

[2020-04-26 05:27] #287 closed

[2020-04-26 12:35] pbadenski commented on #287
That's fair enough, however immutablejs has been stuck in 4.0.0-rc for 2.5 years now with no clear path of 4.0.0 so far...

[2020-12-19 11:10] josiahmokob0 opened #301 "latest immutablejs support(Is this library even alive?)"
https://github.com/astorije/chai-immutable/blob/dfb3d1cf73774d566efe7a70cd8e7eaa4e5b6786/package.json#L46

It doesn't work with latest version of  immutablejs. Is there a workaround for this?

[2020-12-19 20:02] astorije commented on #301
What error do you encounter? v3 is the latest stable, v4 is in RC

[2020-12-20 16:50] josiahmokob0 commented on #301
Ok, that makes sense. I am using v4

[2020-12-20 16:50] #301 closed

[2020-12-21 06:15] astorije commented on #301
I believe it should work fine with v4 as well. Let me know if you're running into issues.

[2020-12-21 16:47] josiahmokob0 commented on #301
Thanks @astorije . will keep you updated.

[2021-10-20 06:56] renovate opened #317 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/astorije/chai-immutable).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Dep

[2022-03-16 21:50] pbadenski commented on #301
@astorije could you perhaps update the version specifier to silence the warning?

[2022-08-11 13:20] aburtsev commented on #207
Hey @astorije,
Is your request for help relevant?
Thanks for your work. I am using your library and want to fix this inconsistency with the original Chai API.
I ask because I want to make sure you are open to review of PR